
header p{margin-top:0;margin-botton:0;}
header nav{top:0;left:0;width:100%;background:hsla(0,0%,100%,.9);font-weight:200;text-align:right}
header nav a{font-weight:700;text-decoration:none;font-family:sans-serif;color:#181818;margin-left:1.5em}
header nav a:first-of-type{margin-left:auto}
header nav a:last-of-type{margin-right:1.5em}

columns{display: flex;}
column{display: block; flex: 1;}
